/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:visited {
  color: inherit;
  text-decoration: inherit; }

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit; }

:root {
  --blue: #007bff;
  --breakpoint-lg: 992px;
  --breakpoint-md: 768px;
  --breakpoint-sm: 576px;
  --breakpoint-xl: 1200px;
  --breakpoint-xs: 0;
  --cyan: #17a2b8;
  --danger: #dc3545;
  --dark: #343a40;
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --gray: #6c757d;
  --gray-dark: #343a40;
  --green: #28a745;
  --indigo: #6610f2;
  --info: #17a2b8;
  --light: #f8f9fa;
  --orange: #fd7e14;
  --pink: #e83e8c;
  --primary: #007bff;
  --purple: #6f42c1;
  --red: #dc3545;
  --secondary: #6c757d;
  --success: #28a745;
  --teal: #20c997;
  --warning: #ffc107;
  --white: #fff;
  --yellow: #ffc107; }

p {
  color: black; }

.nav__wrapper {
  width: 100%;
  background-color: #282827;
  display: flex;
  justify-content: center; }

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  font-family: 'josefin-sans',sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 0.7rem; }

.nav__link {
  display: inline-block;
  font-size: 0.7rem;
  padding: 8px;
  margin: 0 1rem;
  text-decoration: none; }

.nav__btn--search {
  background-color: inherit;
  color: white;
  text-transform: inherit;
  padding: 0.7rem; }

.nav__link:hover, .nav__btn--search:hover {
  color: var(--gray); }

.nav__btn--donate {
  background-color: #f5ad10;
  display: inline-block;
  padding: 0.7rem;
  align-items: center; }

:root {
  font-size: 15px; }

@font-face {
  font-family: 'josefin-sans';
  font-weight: 600;
  src: url("./fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf") format("opentype"); }
