/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:visited {
  color: inherit;
  text-decoration: inherit; }

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit; }

:root {
  --blue: #007bff;
  --breakpoint-lg: 992px;
  --breakpoint-md: 768px;
  --breakpoint-sm: 576px;
  --breakpoint-xl: 1200px;
  --breakpoint-xs: 0;
  --cyan: #17a2b8;
  --danger: #dc3545;
  --dark: #343a40;
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --gray: #6c757d;
  --gray-dark: #343a40;
  --green: #28a745;
  --indigo: #6610f2;
  --info: #17a2b8;
  --light: #f8f9fa;
  --orange: #fd7e14;
  --pink: #e83e8c;
  --primary: #007bff;
  --purple: #6f42c1;
  --red: #dc3545;
  --secondary: #6c757d;
  --success: #28a745;
  --teal: #20c997;
  --warning: #ffc107;
  --white: #fff;
  --yellow: #ffc107; }

.banner_membership-heading {
  color: #fff;
  font-size: 2.2rem;
  line-height: 1.2;
  font-family: 'Lato', sans-serif; }

.banner_membership_line {
  background-color: #fff; }

.banner_membership-subheading {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  margin: 1.2em 0;
  font-family: 'josefin', sans-serif; }

.banner_membership_text {
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  color: #fff; }

.nav__wrapper, .nav__wrapper--secondary {
  width: 100%;
  display: flex;
  justify-content: center; }

.nav__wrapper {
  background-color: #282827; }

.nav__container, .nav__container--secondary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  font-family: 'josefin-sans',sans-serif;
  text-transform: uppercase; }

.nav__container {
  color: white;
  font-size: 0.7rem; }

.nav__link {
  display: inline-block;
  font-size: 0.7rem;
  padding: 8px;
  margin: 0 1rem;
  text-decoration: none; }

.nav__btn--search {
  background-color: inherit;
  color: white;
  text-transform: inherit;
  padding: 0.7rem; }

.nav__link:hover, .nav__btn--search:hover {
  color: #ddd; }

.nav__btn--donate {
  background-color: #f5ad10;
  display: inline-block;
  padding: 0.7rem;
  align-items: center; }

.nav__wrapper--secondary {
  background-color: #fff; }

.nav__link--secondary {
  display: inline-block;
  padding: 1rem; }

.nav__link--secondary:hover {
  color: #f5ad10; }

.news_container {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 60rem;
  max-height: auto; }

.news_top-row {
  max-width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 0 4rem 0 4rem;
  padding-bottom: 15px; }

.news_header-left {
  font-family: 'josefin-sans';
  font-size: 2rem;
  line-height: 1; }

.news_more {
  font-family: 'josefin-sans';
  font-size: 1.4rem;
  text-decoration: none;
  color: black; }

.news_more a:visited {
  color: black; }

.news_more:hover {
  color: #f5ad10; }

.news_article_wrapper {
  display: flex;
  flex-direction: row;
  object-fit: cover;
  justify-content: space-evenly;
  flex-wrap: nowrap; }

.news_article {
  display: flex;
  width: 22rem;
  height: 23.75rem;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  object-fit: cover;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15); }

.news_card {
  object-fit: cover;
  width: auto;
  height: 23.75rem; }

.news_title a {
  text-decoration: none; }

.news_title a:link {
  color: black; }

.news_title a:visited {
  color: black; }

.news_title {
  text-align: left;
  font-size: 1.4rem;
  line-height: 1em;
  font-family: 'josefin-sans';
  margin-top: 1rem; }

.news_title a:hover {
  color: #f5ad10; }

.card_image {
  max-height: auto;
  max-width: 100%;
  object-fit: cover; }

.news_line {
  background-color: #f5ad10;
  display: block;
  height: 3px;
  margin-bottom: 1rem;
  margin-top: .8rem;
  width: 40px; }

.news_date {
  display: block;
  font-size: .9rem;
  font-style: italic;
  line-height: 1.2;
  margin-bottom: 1rem; }

.news_text {
  font-size: 0.9rem;
  line-height: 1.2; }

.news_card_lower {
  margin-left: 1rem;
  margin-right: 0.5rem; }

:root {
  font-size: 15px;
  --header-font: 
; }

@font-face {
  font-family: 'josefin-sans';
  font-weight: 600;
  src: url("./fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf") format("opentype"); }
