

.banner_membership{
    padding-top:4rem;
    padding-bottom:4rem;


}

.background{

    background-image: url(/img/banner_background.png);
    background-size:50%;
    padding-top:6rem;
    padding-bottom:6rem;
    background-attachment:fixed;
    background-color:#f5ad10;
    max-height:12.5rem;
    position:static;
    
}


.banner_membership_wrapper{
    height: 75%;
    display:flex;
    justify-content: space-evenly;

}


.banner_membership-title-container{
    display:flex;
    flex-direction: column;
    padding:0 4rem 0 4rem;
    align-items: flex-start;

}


.banner_membership-heading{
    color:#fff;
    font-size: 2.2rem;
    font-weight: 800;
    line-height: 1.2;
    font-family: 'josefin-sans', sans-serif;
    text-transform: uppercase;
}

.banner_membership_line{
    background-color:#fff ;
    display: block;
    height: 3px;
    margin-bottom: 0.6rem;
    margin-top: .8rem;
    width: 40px;

}

.banner_membership-subheading{
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0.8rem 0;
    font-family: 'josefin-sans',sans-serif;
    font-weight:700;
    text-transform: uppercase;

}

.banner_membership_text{
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    color:#fff;
    font-family: 'josefin-sans';
}
banner_membership-btn_container{
    display:flex;
    transform: rotate(90deg);

}
.banner__mail-list__header{
    font-family: josefin-sans,sans-serif!important;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2rem;
}

.banner__mail{
    background-color: #333;
    width: 100%;
    height: 265px;
    color: #fff;

}

.banner__mail-bg{
    position: absolute;
    padding: 5rem;
    width: 100%;
    background-attachment: fixed;
    background-size: 50%;
    background-image: url(https://portsmouthguildhall.org.uk/app/uploads/2018/10/Light_Big.png)
}

.banner__mail-container{
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.mail-list__cta{
    font-family: 'josefin-sans', sans-serif;

}

.banner_membership-btn_container{
    display:flex;
    transform: rotate(90deg);
    border-style: solid;
    border-width: 3px;
    -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,.15);
    box-shadow: 0 0 25px 0 rgba(0,0,0,.15);
    display: inline-block;
    margin: 4rem ;
    padding:0.5rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    border-color: #fff;
    color: #fff;
}

.mail-list__cta:hover{
    border-color: #f5ad10;
    color: #f5ad10;
    font-family: josefin-sans,sans-serif!important;
    font-weight: 800;
    text-transform: uppercase;
    margin: 5rem 0;
    
}



.banner_membership-btn{
font-family: 'josefin-sans', sans-serif;
font-size: 1.2rem;
font-weight: 800;
color:#fff;

}

.banner_membership-btn a{
    outline: none;
    outline-color: currentcolor;
    outline-style: none;
    outline-width: medium;
}