.banner_membership-heading{
    color:#fff;
    font-size: 2.2rem;
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
}

.banner_membership_line{
    background-color:#fff ;
}

.banner_membership-subheading{
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
    margin: 1.2em 0;
    font-family: 'josefin', sans-serif;

}

.banner_membership_text{
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    color:#fff;
}