.banner_membership-heading{
    color:#fff;
    font-size: 2.2rem;
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
}

.banner_membership_line{
    background-color:#fff ;
}

.banner_membership-subheading{
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
    margin: 1.2em 0;
    font-family: 'josefin', sans-serif;

}

.banner_membership_text{
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    color:#fff;
}
.banner__mail-list__header{
    font-family: josefin-sans,sans-serif!important;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2rem;
}

.banner__mail{
    background-color: #333;
    width: 100%;
    height: 265px;
    color: #fff;

}

.banner__mail-bg{
    position: absolute;
    padding: 5rem;
    width: 100%;
    background-attachment: fixed;
    background-size: 50%;
    background-image: url(https://portsmouthguildhall.org.uk/app/uploads/2018/10/Light_Big.png)
}

.banner__mail-container{
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.mail-list__cta{
    border-style: solid;
    border-width: 3px;
    -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,.15);
    box-shadow: 0 0 25px 0 rgba(0,0,0,.15);
    display: inline-block;
    font-family: josefin-sans,sans-serif!important;
    font-size: 1.2rem;
    font-weight: 800;
    line-height: 1;
    margin: 1.5rem 2px 2px 0;
    padding: 1rem 2rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    border-color: #fff;
    color: #fff;
}

.mail-list__cta:hover{
    border-color: #f5ad10;
    color: #f5ad10;
    font-family: josefin-sans,sans-serif!important;
    font-weight: 800;
    text-transform: uppercase;
}