.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

.contact__wrapper{
    width: 100%;
    max-width: 1000px;
    background-color: #333;
    color: white;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 300px 700px;
    margin: auto;
}

.contact__socials{
    display: flex;
}

.contact__follow-header{

}

.contact__nav{

}

.contact__nav-link{
}

.contact__box-office{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    background-color: #282827
}
.contact__box-office--head{
    font-size: 1.4rem;
    font-weight: 800;
}

.contact__box-office--mail{
    font-weight: 800;
    text-transform: none;
}

.contact__box-office--msg{
    font-size: .7rem;
    line-height: 1.2;
    text-transform: none;
}
