

.news{
padding-top: 4rem;
}

.news_container{
    display:flex;
    flex-direction: column;
    max-width: 60rem;
    max-height:auto;
    padding: 1rem 4rem 1rem 4rem;

}


.news_top-row{
    max-width:95%;
    display:flex;
    justify-content: space-between;
    margin: 0 4rem 0 4rem;
    padding-bottom:15px;

}

.news_header-left{
    font-family: 'josefin-sans';
    font-size:2rem;
    line-height: 1;
}

.news_more{
    font-family: 'josefin-sans';
    font-size: 1.4rem;
    text-decoration: none;
    color:black;
}


.news_more a:visited{
    color:black;
 }


 .news_more:hover{
  color: #f5ad10;
 }


.news_article_wrapper{
    display:flex;
    flex-direction:row;
    object-fit:cover;
    justify-content: space-evenly;
    flex-wrap:nowrap;
}

.news_article{
    display:flex;
    width:22rem; 
    height:23.75rem; 
    flex-direction: column;
    justify-content:space-between;
    align-content: center;
    object-fit:cover;
    box-shadow: 0 0 25px 0 rgba(0,0,0,.15);

}

.news_card{
    object-fit:cover;
    width:auto;
    height:23.75rem; 

}

.news_title a{
    text-decoration: none;

}

.news_title a:link{
    color:black;
}

.news_title a:visited{
    color:black;
}

.news_title{
    text-align:left;
    font-size: 1.4rem;
    line-height: 1em;  
    font-family: 'josefin-sans';
    margin-top:1rem;
}

.news_title a:hover{
    color: #f5ad10;
}

.card_image{
    max-height: auto;
    max-width:100%; ;
    object-fit: cover;
}   

.news_line{
    background-color: #f5ad10;
    display: block;
    height: 3px;
    margin-bottom: 1rem;
    margin-top: .8rem;
    width: 40px;
}
    
.news_date{
    display: block;
    font-size: .9rem;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 1rem;
}
   
.news_text{
    font-size: 0.9rem;
    line-height: 1.2;
}

.news_card_lower{
    margin-left:1rem;
    margin-right:0.5rem;
}
