:root{
    font-size: 15px;
    --header-font : 
}

@font-face {
    font-family: 'josefin-sans';
    font-weight: 600;
    src: url("./fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf") format("opentype");
    }
  
    @font-face {
        font-family: 'josefin-sans';
        font-weight: 700;
        src: url("./fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf") format("opentype");
        }
      
    
